<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="conexao" connectionString="Data Source=server; Initial Catalog=sabado; Persist Security Info=True; User ID=sa;Password=mmcsa" providerName="System.Data.SqlClient"/>
    <add name="conexaoMySql" connectionString="Server=localhost;User id=root;Password=root;Database=fariapersonalizados"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>